html, body {
    margin: 0;
    padding: 10px 0 0 0;
}

#todo {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

tbody > tr {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

thead > tr {
    border-bottom: 1px solid #dcdcdc;
}

tr > td {
    min-height: 100%;
}

.delete {
    display: none;

}

.delete:hover {
    background-color: red;
    color: white;
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

.done {
    text-decoration: line-through;
    color: red;
}

.over {
    border: 2px dashed #000;
}

.drag {
    background-color: grey;
    opacity: 0.4;
}